.git
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
**/.env
**/.env.*
!**/.env.example
**/env
**/venv
**/.venv
.tox
**/.coverage
**/*.log
.idea
.vscode

frontend
print_service
docs
alembic/versions/__pycache__
